header ul li a.nav-link{
    color: #fff;
}

#jumbotron{
    background-image: url('../img/copertina_rpg.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.content-jumbo{
    position: relative;
    max-width: 900px;
    margin: 50px auto;
    color: #fff;
    padding: 175px 0;
    text-align: center;
    animation: slide 2s;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
}

@keyframes slide{
    0%{
        left: -50000px;
    }

    100%{
        left: 0px;
    }
}

#about {
    padding: 50px 0;
    background-color: rgba(10, 10, 10, 0.842);
    color: white;
}

.about_us {
    text-align: center;
}

.about_us_title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #dfdfdf70, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_us p {
    line-height: 30px;
}

.about_us_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
