<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">{{ message }}</h1>
                    <h2>Benvenuti nel primo esempio di git workflow. Spero vi stia piacendo.</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <button @click="countClick()">Count</button>
                </div>
                <div class="col-6">
                    {{count}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Visualizzatore parola</h2>
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" class="form-control" v-model="text">
                </div>
                <div class="col-6">
                    {{ text }}
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-6">
                    <button @click="toggleColor()">Toggle color</button>
                </div>
                <div class="col-6">
                    <div class="square" :class="color">

                    </div>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-6">
                    <input type="text" name="" id="" class="form-control" v-model="num1">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" class="form-control" v-model="num2">
                </div>
                <div class="col-12">
                    <button @click="multiplyNumbers()">Moltiplica numeri</button>
                </div>
                <div class="col-12">
                    {{ result }}
                </div>

            </div>
        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>